body {
    font-family: 'Lato', sans-serif;
}

.head {
    text-align: center;
}

.foot {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.dog {
     text-align: center;
 }

.cat {
    text-align: center;
}

.bird {
    text-align: center;
}

.form {
    text-align: center;
}

.label {
    width:80px;
}